.carousel {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-control-prev {
    margin-top: 10px;
    left: 10px;
}

.carousel-control-next {
    margin-top: 10px;
    right: 10px;
}

.images {
    height: 400px;
    object-fit: cover;
}