.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.QRCodeTile
{
    text-align: center;
    margin: 4px;
    background-color: antiquewhite;
    width: fit-content;
    border-radius: 20px;
    max-width: 325px;
    font-size: 15px;

    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 20px;

}
.QRCode
{
    margin: 15px 0px 0px 0px;
    max-width: 288px;
    max-height: 288px;
    border-radius: 10px;
    
}

.Improve 
{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 25px;
}

.Scan 
{
    font-size: 15px;
    margin: 30px;
    color: gray;
    padding-bottom: 30px;
}

body{
    background-color: rgb(156, 212, 212);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container 
{
    display: grid;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px)
{
    .item1
    {
        grid-column-start: 1;
    }

    .item2
    {
        grid-column-start: 1;
    }

    .item3
    {
        grid-column-start: 1
    }

    .item4
    {
        grid-column-start: 1;
        grid-row-start: 2;
    }

}

@media screen and (min-width: 1000px)
{
    .item1
    {
        grid-column-start: 1;
    }

    .item2
    {
        grid-column-start: 2;
    }

    .item3
    {
        grid-column-start: 3;
    }

    .item4
    {
        grid-column-start: 2;
        grid-row-start: 2;
    }

}
